<!-- <div class="profile-pic-container">
    <div class="profile-pic"></div>
</div> -->

<div class="about">
    <div class="bio">
        <div class="profile-pic-container">
            <div class="profile-pic"></div>
        </div>
        <p>
            Hi! My name is Daniel Tufvesson. I have a Bachelor's degree in 
            Cognitive Science and I am currently studying a Master's in 
            Computer Science at Linköping University, Sweden.
        </p>
        <p>
            When I was 15, I wrote my first computer program, and ever since 
            then I have been hooked. What started as a fun hobby quickly turned 
            into a passion. That is why, in gymnasium, I started a game development 
            company with my friends, and then after gymnasium proceeded as an 
            independent game developer. Now, I have turned my attention to the 
            world of AI and natural language processing.
        </p>
        <p>
            This portfolio consists of some of the projects I have had the 
            pleasure of working on. And if you want to find out more about me 
            and my experience, please refer to my LinkedIn.
        </p>
    </div>

    <div>
        <div class="education">
            <h3>Education</h3>
            <ul>
                <li>
                    <span>Linköping University</span>
                    <ul>
                        <li>MSc in Computer Science 2024–2026</li>
                        <li>BSc in Cognitive Science 2021–2024</li>
                    </ul>
                </li>
                <li>Ystad Gymnasium, Technology Program 2014–2017</li>
            </ul>
        </div>

        <div class="experience">
            <h3>Experience</h3>
            <ul>
                <li>Developer at SICK IVP 2024</li>
                <li>Independent Game Developer 2017–2021</li>
                <li>Game Developer at ZuckerGates UF 2015–2016</li>
            </ul>
        </div>

        <div class="contact">
            <h3>Contact Me</h3>
            <ul>
                <li><a [href]="data.linkedInURL()">LinkedIn</a></li>
                <li>{{data.email()}}</li>
                <li><a [href]="data.githubURL()">GitHub</a></li>
            </ul>
        </div>
    </div>
</div>