<p class="demo-text">Interactive demo</p>
<div class="demo">
    <volume-space-program></volume-space-program>
    <div class="description">
        <h1>Volume Space Program <i class="fa fa-rocket"></i> </h1>
        <p>
            Adjust the volume by launching a rocket into orbit. The higher 
            the orbit, the higher the volume.
        </p>
        <p>
            (Note: this doesn't actually change the volume; the controller 
            is purely visual.)
        </p>

        <h1>Instructions</h1>
        <ul>
            <li>Press the mouse button to boost the rocket.</li>
            <li>If the rocket has exploded, click the mouse button to restart.</li>
        </ul>
    </div>
</div>