:host {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.demo-text {
    font-style: italic;
    font-size: 10pt;
    color: gray;
}

.demo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @media (max-width: 800px) {
        flex-direction: column;
        align-items: center;
    }
}

.description {
    flex: 0.6;
}

li {
    padding: 10px;
}